@model AvMobile.Models.Avaliacao

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Avaliacao do IMEI: @Model.imei.num_imei Aparelho: @ViewBag.Aparelho.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Filial: 
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.filial.nome)
            </dd>
    
            <dt>
                Numero IMEI:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imei.num_imei)
            </dd>
    
            <dt>
                Usuario Cadastro:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usuario.login)
            </dd>
    
            <dt>
                Aceite do Cliente:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aceite)
            </dd>
                 
            <dt>
                Valor da Proposta:
            </dt>
    
            <dd>
                R$@Html.DisplayFor(model => model.valorAv)
            </dd>
    
            <dt>
                Observação:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.obs)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Aceite", "Aceite", new { id = Model.id }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
