@model IEnumerable<Modelo.Cadastros.Avaliacao>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avaliações</title>
    

</head>
<body>
    <p>
        @Html.ActionLink("Cadastrar Nova Avaliação", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                <small>@Html.DisplayNameFor(model => model.id)</small>
            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.imeiId)</small>

            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.usuarioId)</small>

            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.aceite)</small>

            </th>

            <th>
                <small>@Html.DisplayNameFor(model => model.valorAv)</small>

            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.obs)</small>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.filial.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imei.num_imei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aceite)
                </td>

                <td>
                    R$@Html.DisplayFor(modelItem => item.valorAv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.obs)
                </td>
                <td>
                    <a href="@Url.Action("Aceite", "Avaliacao", new { id = item.id })"><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span></a>
                    <a href="@Url.Action("Details", "Avaliacao", new { id = item.id })"><span class='glyphicon glyphicon-zoom-in' aria-hidden='true'></span></a>
                    <!--<a href="@Url.Action("Delete", "Avaliacao", new { id = item.id })"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></a>-->
                </td>
            </tr>
        }

    </table>
</body>
</html>
