@model IEnumerable<AvMobile.Models.Imei>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Cadastrar Novo IMEI", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Modelo do Aparelho
            </th>
            <th>
                Numero IMEI
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aparelho.modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_imei)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
